.header .navbar .logo{
    width: 200px;
}

.content .slider .slick-item{
    width: 100%;
    height: 800px;
    overflow: hidden;
}
.content .slider .slick-item img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center top;

}
.content .slider .item-3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position:0px -100px ;

}

.song-favorites {
    display: flex;
    justify-content: center;
}
.item img{
    width: 100%;
    object-fit: cover ;
}